:root{
    --color: rgb(124, 16, 218);
    --seccolor: rgb(155, 87, 215);
    --defpad: 22px;
    --defop: 0.2;
    
}



* {
    margin: 0;
    padding: 0;
}

.main{
    background-color: var(--color);
}

ul{
    display: flex;
}

li:first-child{
    --seccolor: rgb(255, 255, 255);
    background-color: var(--seccolor)
}

ul li{
    opacity: var(--defop);
    list-style: none;
    padding: var(--defpad);
    --color: rgb(15, 1, 27);
    border: 2px solid var(--color);
}

.info{
    background-color: var(--seccolor) ;
}